/* .container {
    display: flex;
    flex: 1;
} */

.row {
    background-color: orange;
    margin: 1px;

}

.column {
    background-color: red;
    min-height: 5px;
    min-width: 5px;
    margin: 2px;
}