.container {
    display: flex;
    flex-grow: 1;
    border: 0.2px solid lightgrey;
}

.row {
    border: 0.2px solid lightgrey;

}

.column {
    min-height: 10px;
    min-width: 10px;
    border: 0.2px solid lightgrey;


}